h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.employeeBoxNotFav {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    border: solid 1px black;
    background-color: linen;
    padding: 1rem;
    width: calc(100%/3 - 2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
    border-radius: 1rem;
}

.employeeBoxFav {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    border: solid 1px black;
    background-color: lightcyan;
    padding: 1rem;
    width: calc(100%/3 - 2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
    border-radius: 1rem;
}

#app {
    box-sizing: border-box;
}